body {
    display: flex;
    flex-direction: column;
    /*border: solid 5px red;*/
    margin: 0;
}
.header,
.right-links {
    display: flex;
    height: 50px;
    justify-content: space-between;
    /*border: solid 5px red;*/
    background-color: #1f2937;
    font-family: "Roboto";
    font-size: 15px;
}
.header {
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
    padding-left: 20px;

}
.first-section {
    display: flex;
    height: 300px;
    /*border: solid 5px red;*/
    background-color: #1f2937;
    justify-content: space-evenly;
}
.second-section {
    height: 300px;
    /**border: solid 5px red;**/
}
.third-section {
    height: 300px;
    border: solid 5px blue;
}
.fourth-section {
    height: 300px;
    border: solid 5px blue;
}
.right-links {
    display: flex;
    /*border: solid 5px red;*/
}
ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

a {
    text-decoration: none;
    color: grey;
}
.intro {
    display: flex;
    flex-direction: column;
    width: 750px;
    padding-left: 20px;
   /* border: solid 5px red;*/
}
.image {
    display: flex;
    color: white;
    background-color: grey;
    width: 750px;
    justify-content: center;
    align-items: center;
    /*border: solid 5px red;*/
}
.main-text {
    font-size: 48px;
    font-weight: 900;
    font-family: "Roboto";
    color: #f9faf8;
    padding-bottom: 10px;
   /* border: solid 5px red;*/
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto";
    padding-bottom: 10px;
    /*border: solid 5px red;*/
}
.sign-up {
    display: flex;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    /*border: solid 5px red;*/
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
.inside-box {
    border: solid 5px #3882f6;
    border-radius: 10px;
    height: 75px;
    width: 75px;
}
.first-half {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900px;
    /**border: solid 5px red;**/
}
.second-half {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    /**border: solid 5px red;**/
}